<table>
    <caption [textContent]="title"></caption>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Birtday</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <ng-template
            ngFor
            [ngForOf]="data"
            let-item
            let-i="index"
            [ngForTrackBy]="trackByFn"
        >
            <tr
                app-tr
                [index]="i"
                [(model)]="data[i]"
                (delete)="del($event)"
            ></tr>
        </ng-template>
    </tbody>
    <tfoot>
        <tr>
            <td>
                <input
                    type="text"
                    [(ngModel)]="model.name"
                >
            </td>
            <td>
                <input
                    type="text"
                    [(ngModel)]="model.surName"
                >
            </td>
            <td>
                <input
                    type="date"
                    [value]="model.birthday | date:'yyyy-MM-dd'"
                    (input)="model.birthday = parseDate($event.target.value)"
                >
            </td>
            <td>
                <button
                    (click)="Add()"
                    class="save"
                    [disabled]="(!model.birthday && !model.name && !model.surName)"
                >
                    Add
                </button>
                <button
                    (click)="model = {}"
                    class="cancel"
                >
                    cancel
                </button>
            </td>
        </tr>
    </tfoot>
</table>
